# json type data
*.json

# Ignorar archivos compilados de Python
**/__pycache__/
*.pyc

# Ignorar configuraciones de Visual Studio Code
FE/cocktail-app/.vscode/

# Ignorar el archivo .gitignore en cocktail-app
FE/cocktail-app/.gitignore


technical profiles/fullstack project/BE/backend/
technical profiles/fullstack project/BE/djangoAPI/djangoAPI
technical profiles/fullstack project/BE/djangoAPI/__pycache__/*.pyc
technical profiles/fullstack project/backend.log

# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

